*{
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkblue;
}

.bloquetitulo{
    font-size: 40px;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(44, 65, 255);
}

.parrafotitulo0{
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-top: -30px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
}



.parrafotitulo1{
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin-top: -30px;
    text-align: center;
    font-size: 25px;
    padding-bottom: 35px;
    
}

.parrafotitulo2{
    width: 100%;
    display: inline-flex;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
    
}

.parrafotitulo3{
    width: 100%;
    display: inline-flex;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
    
}

.pfotografia{
    text-align: center;
    font-size: 40px;
    color: rgb(44, 65, 255);
    padding-bottom: 15%;
}

.fotografia{
    width: 800px;
    display: block;
    margin: 135px auto;
    border-radius: 15px;
    
}

