.footer{
    width: 100%;
    
}

.iconoscontactos{
    text-align: center;
}

.ajusteicono{
    display: inline-flex;
    margin: 50px 35px;
}

.textofooter{
    padding-top: 8px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(44, 65, 255);
    font-size: 15px;
    background-color: rgba(52, 208, 255, 0.281);
    height: 80px;
}